---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
import UpcomingRelease from '../components/UpcomingRelease.astro';
import LatestRelease from '../components/LatestRelease.astro';
import ReleaseArchive from '../components/ReleaseArchive.astro';
import Projects from '../components/Projects.astro';
import WaveDivider from '../components/WaveDivider.astro';
import Webring from '../components/Webring.astro';
import SpotifyNowPlaying from '../components/SpotifyNowPlaying.astro';
import Socials from '../components/Socials.astro';

// TODO: Fill in your preferences.
const variables = {
    name: 'spell pierce',
    subtitles: 'melodic indie dream hop music for all the dreamers out there.'
};
---

<Layout title={variables.name}>
    <main>
        <Intro name={variables.name} subtitle={variables.subtitles} />
        <Socials />
        <WaveDivider color="rosewater" speed={100} size={0.8} direction="left" />

        <UpcomingRelease
            title="Friend of the Lonely"
            artist="spell pierce"
            releaseDate="2026-05-14"
            coverSrc="/images/releases/friend-of-the-lonely-512.png"
            coverSrc2x="/images/releases/friend-of-the-lonely-1024.png"
        />
        <WaveDivider color="mauve" speed={100} size={0.8} direction="right" />

        <LatestRelease
            title="know nothing (may 2026 demo)"
            artist="spell pierce"
            releaseDate="2026-05-27"
            youtubeId="D4aOTEZN9Sk"
        />
        <WaveDivider color="blue" speed={100} size={0.8} direction="left" />

        <ReleaseArchive />

        <!-- <Projects />
        <WaveDivider color="flamingo" speed={100} size={0.8} direction="right" /> -->

        <!-- <SpotifyNowPlaying />
        <WaveDivider color="mauve" speed={100} size={0.8} direction="left" /> -->

        <!-- <Webring />
        <WaveDivider color="pink" speed={100} size={0.8} direction="right" /> -->
    </main>
</Layout>
